@charset "utf-8";
/* CSS Document */

body {
	height:100vh;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #f3f3f3;
}
.page {
	color: #212121;
	font-size: 24px;
	text-align: center;
	max-width: 960px;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	height: auto;
	min-height: 100%;
}
.content {
	padding: 2rem 0;
}
.header {
	background-color: #4fb3bf;
	padding: 10px;
	border: none;
	font: "Open Sans", sans-serif;
	width: 100%;
}
.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.logo-container {
	text-align: center;
	padding-bottom: 1rem;
}
p {
	text-align: left;
	line-height: 1.5;
}
h1 {
	color: #0d7377;
	text-align: center;
	padding-bottom: 1rem;
	font-size: 36px;
}
.highlight {
	color: #0d7377;
	font-weight: bold;
}
.photo {
	margin: 0 auto;
	display: block;
}
.image-slider {
	position: relative;
	text-align: center;
}
